<h1>Imagenologia</h1>
<h1>{{token}}</h1>
<div class="py-4 container-fluid">
  <h2>Administración</h2>
  <hr class="w-50" />
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Rut</th>
        <th scope="col">Email</th>
        <th scope="col">Nombres</th>
        <th scope="col">Primer Apellido</th>
        <th scope="col">Segundo Apellido</th>
        <th scope="col">Sexo</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Direccion</th>
        <th scope="col">Comuna</th>
        <th scope="col">Telefono</th>
        <th scope="col">Prevision</th>
        <th scope="col">Medico</th>
      </tr>
    </thead>
    <tbody>
      {{#each usuarios}}
      <form method="post" action="/paciente/{{this.id}}">
        <tr>
          <div>
            <th scope="row">{{this.rut}}</th>
            <td>{{this.email}}</td>
            <td>{{this.nombres}}</td>
            <td>{{this.primer_apellido}}</td>
            <td>{{this.segundo_apellido}}</td>
            <td>{{this.sexo}}</td>
            <td>{{this.fecha_nacimiento}}</td>
            <td>{{this.direccion}}</td>
            <td>{{this.comuna}}</td>
            <td>{{this.telefono}}</td>
            <td>{{this.prevision}}</td>
            <div>
            <td><input type="checkbox" name="medico" value={{this.medico}} {{#if this.medico}} checked {{/if}} /></td>
            <td><button name="action" type="submit" value="updateStatus">Validar</button></td>
            <td><button name="action" type="submit" class="btn btn-danger" value="eliminar">Eliminar cuenta</button></td>
            </div>
          </div>
        </tr>
      </form>
      {{/each}}
    </tbody>
  </table>
</div>