<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Imagenologia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/login">Cerrar Sesion</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right ">
      <li>
        <a href="/login" class="btn btn-primary m-2">Cerrar Sesion</a>
      </li>
    </ul>
  </div>
</nav>
<h1>Imagenologia</h1>
<h1>{{token}}</h1>
<div class="py-4 container">
    <h2>Medico</h2>
    <hr class="w-50" />
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombres</th>
                <th scope="col">Primer Apellido</th>
                <th scope="col">Edad</th>                
                <th scope="col">Tipo Examen</th>
                <th scope="col">Codigo</th>
                <th scope="col">Examen</th>
                <th scope="col">Fecha</th>
                <th scope="col">Orden Medica</th>
            </tr>
        </thead>
        <tbody>
            {{#each horas_examenes}}
            <form method="post" action="/paciente/{{this.id}}">
                <tr>
                    <td>{{this.rut}}</th>
                    <td>{{this.nombres}}</td>
                    <td>{{this.primer_apellido}}</td>
                    <td>{{this.edad}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.codigo}}</td>
                    <td>{{this.nombre_examen}}</td>
                    <td>{{this.fecha}}</td>
                    <td><img src="/imgs/{{this.orden_medica}}" alt="foto" width="80px" /></td>
                    <div>
                </tr>
            </form>
            {{/each}}
        </tbody>
    </table>
</div>